<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-left">
                <img class="card-img-top">
                <div class="card-header">
                    <h2 style="font-size: 50px;">Ambientes</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-bottom: 10px; padding-top: 10px;">
            <a name="" id="" class="btn btn-primary" href="#" role="button">Add Ambiente</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Tipo Ambiente</th>
                        <th scope="col">Regional</th>
                        <th scope="col">Unidade</th>
                        <th scope="col">Bloco</th>
                        <th scope="col">Capacidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>100</td>
                        <td>COMPORTAMENTAL</td>
                        <td>DRGO</td>
                        <td>FATESG</td>
                        <td>A</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>100</td>
                        <td>COMPORTAMENTAL</td>
                        <td>DRGO</td>
                        <td>FATESG</td>
                        <td>A</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>100</td>
                        <td>COMPORTAMENTAL</td>
                        <td>DRGO</td>
                        <td>FATESG</td>
                        <td>A</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>100</td>
                        <td>COMPORTAMENTAL</td>
                        <td>DRGO</td>
                        <td>FATESG</td>
                        <td>A</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>100</td>
                        <td>COMPORTAMENTAL</td>
                        <td>DRGO</td>
                        <td>FATESG</td>
                        <td>A</td>
                        <td>41</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>