<p-card header="Gestão dos Ambientes" styleClass="p-datatable-responsive-demo">
    <div class="card" styleClass="p-datatable-responsive-demo">
        <span class="p-buttonset">
            <button pButton class="p-button-success" routerLink="/ambiente" type="button" label="Novo Ambiente" icon="pi pi-plus-circle"></button>
            <button pButton class="p-button-danger" type="button" label="Deletar Ambiente" icon="pi pi-trash"></button>
        </span>
        <hr>
        <p-table #dt1 [value]="ambientes" selectionMode="single" [(selection)]="ambienteSetado" dataKey="id" styleClass="p-datatable-ambientes" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
            <ng-template pTemplate="header" let-columns>
                <tr style="font-size: 90% !important;">
                    <th pSortableColumn="tipoAmbiente">Identificador
                        <p-sortIcon field="Identificador"></p-sortIcon>
                    </th>
                    <th pSortableColumn="numero">Nome da Sala
                        <p-sortIcon field="numero"></p-sortIcon>
                    </th>
                    <th pSortableColumn="bloco">Items da Sala
                        <p-sortIcon field="bloco"></p-sortIcon>
                    </th>
                    <th pSortableColumn="capacidade">Capacidade
                        <p-sortIcon field="capacidade"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ipCamera">IpCamera
                        <p-sortIcon field="ipCamera"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tipoAmbiente">Tipo de Ambiente
                        <p-sortIcon field="tipoAmbiente"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input style="width: 100% !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'tipoAmbiente', 'contains')" [value]="dt1.filters['tipoAmbiente']?.value" placeholder="Buscar" class="p-column-filter">
                    </th>
                    <th>
                        <input style="width: 100% !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'numero', 'contains')" [value]="dt1.filters['numero']?.value" placeholder="Buscar" class="p-column-filter">
                    </th>
                    <th>
                        <input style="width: 100% !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'bloco', 'contains')" [value]="dt1.filters['bloco']?.value" placeholder="Buscar" class="p-column-filter">
                    </th>
                    <th>
                        <input style="width: 100% !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'area', 'contains')" [value]="dt1.filters['area']?.value" placeholder="Buscar" class="p-column-filter">
                    </th>
                    <th>
                        <input style="width: 100% !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'unidInstitucional', 'contains')" [value]="dt1.filters['unidInstitucional']?.value" placeholder="Buscar" class="p-column-filter">
                    </th>
                    <th>
                        <input style="width: 100% !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'capacidade', 'contains')" [value]="dt1.filters['capacidade']?.value" placeholder="Buscar" class="p-column-filter">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ambiente let-rowData let-columns="columns">
                <tr [pSelectableRow]="ambiente">
                    <td>
                        <span class="image-text">{{ambiente.id}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ambiente.nome}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ambiente.descricao}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ambiente.capacidade}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ambiente.ipCamera}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{ambiente.tipoAmbiente}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">Não encontramos Ambientes com base nestes parametros! :(</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>