<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-left">
                <img class="card-img-top">
                <div class="card-header">
                    <h2 style="font-size: 50px;">Usuarios</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-bottom: 10px; padding-top: 10px;">
            <a name="" id="" class="btn btn-primary" routerLink="/create-user" role="button">Add Usuario</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Status da Conta</th>
                        <th scope="col">Codigo RFID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>DANIEL CORREA DA SILVA</td>
                        <td>danielcs80@gmail.com</td>
                        <td>(62) 9 9294-7507</td>
                        <td>ATIVA</td>
                        <td>E44BA4EA</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>DANIEL CORREA DA SILVA</td>
                        <td>danielcs80@gmail.com</td>
                        <td>(62) 9 9294-7507</td>
                        <td>ATIVA</td>
                        <td>E44BA4EA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>