<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-left">
                <img class="card-img-top">
                <div class="card-header">
                    <h2 style="font-size: 50px;">Perfil</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 40px;">
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="../../../assets/img/ico_camera.png" class="card-img-top" alt="Camera da Sala">
                <div class="card-body">
                    <button id="AtivarCamera" type="file" class="btn btn-primary btn-sm btn-block">Carregar Foto</button>
                    <hr>
                    <button id="AtivarCamera" type="button" class="btn btn-dark btn-sm btn-block">Camera</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-md-6">
            <div class="form-group">
                <label for="formGroupExampleInput">Nome: </label>
                <input type="text" class="form-control" id="nomePerfil" placeholder="Nome completo">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">E-mail: </label>
                <input type="email" class="form-control" id="emailPerfil" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Celular: </label>
                <input type="text" class="form-control " maxlength="16" placeholder="Ex.: (00) 00000-0000">
            </div>
            <label class="regional">Status Conta: </label>
            <select class="custom-select custom-select-sm">
                <option selected>Defina o Status</option>
                <option value="1">ATIVO</option>
                <option value="2">INATIVO</option>
              </select>
            <label class="regional">Perfil Usuário: </label>
            <select class="custom-select custom-select-sm">
                  <option selected>Defina o Perfil do Usuário</option>
                  <option value="1">PROFESSOR</option>
                  <option value="2">ALUNO</option>
                  <option value="3">DIRETOR</option>
                  <option value="4">SECRETARIO (A)</option>
                  <option value="5">TECNICO</option>
                </select>
            <hr>
            <form>
                <fieldset disabled>
                    <div class="form-group">
                        <input type="text" id="inputRFID" class="form-control" placeholder="Codigo RFID">
                    </div>
                </fieldset>
            </form>
            <button type="button" class="btn btn-primary btn-block">Ler RFID</button>
            <button type="button" class="btn btn-danger btn-block">Bloquear RFID</button>
            <hr>
            <button type="button" class="btn btn-info  btn-block">Salas com Acesso</button>
            <button type="button" class="btn btn-info  btn-block">Relatorio de Acessos</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-4" style="padding-bottom: 2%;">
            <button type="button" class="btn btn-success btn-block">Salvar</button>
        </div>
        <div class="col-12 col-md-4" style="padding-bottom: 2%;">
            <button type="button" class="btn btn-danger btn-block">Excluir</button>
        </div>
        <div class="col-12 col-md-4" style="padding-bottom: 2%;">
            <button type="button" class="btn btn-warning btn-block">Cancelar</button>
        </div>
    </div>
</div>